body {
    background-color: lightgreen;
}

#sec1 {
    background-color: lightgoldenrodyellow;
}

#align_left {
    text-align: left;
    font-weight: bolder;
}

#align_right {
    text-align: right;
    font-weight: bolder;
}

#first_head {
    font-family: 'Koulen';
    font-weight: bold;
}

#second_head {
    font-family: 'Roboto Slab';
    font-weight: bold;
}

#sketch_header {
    font-family: 'Oleo Script Swash Caps';
    color: red;
}

#show_sketches {
    float: right;
}

canvas {
    border: white 5px;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {
        box-shadow: 10px 5px 5px red;
    }

    to {
        box-shadow: 3px 3px red, -1em 0 .4em olive;
    }
}

label {
    font-family: 'Odibee Sans';
    font-size: larger;
}